@import url('https://fonts.googleapis.com/css2?family=Lato:display=swap');

body {
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  color: #505962;
}

.jumbotron {
  margin-bottom: 0rem!important;
}
/* ====================================================================================================== */
/*-- alert message --*/
.alert {
  background-color: red;
  z-index:1!important;
}
.alert p {
  color: black;
  margin: 0 0;
}
.alert h3 {
  color: black;
  font-weight: 700;
}

.alert button {
  margin-top: 1rem;
  font-size: .5rem;
  border-radius: 0;
}

/* 点滅 */
.blinking{
    -webkit-animation:blink .5s ease-in-out infinite alternate;
    -moz-animation:blink .5s ease-in-out infinite alternate;
    animation:blink .5s ease-in-out infinite alternate;
}
@-webkit-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@-moz-keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}
@keyframes blink{
    0% {opacity:0;}
    100% {opacity:1;}
}

/* ====================================================================================================== */
/*-- Navigation --*/
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0,0,0,1)!important;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar-brand  img{
  height: 4rem;
}
.navbar-nav li {
  padding-right: .8rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #6e4242;
}

/* ====================================================================================================== */
/*-- Landing Page --*/
.home-inner {
  background-image: url("img/bg1.jpg");
  background-size: cover;
  width: 100%;
}
.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 55%;
  color: white;
  text-transform: uppercase;
  margin-bottom: 30rem;

}
.caption h1{
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.caption p {
  font-size: .9rem;
  color: white;
  margin: 1rem auto;
  width: 85%;
}
.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding: .6rem 1.3rem;
  font-size: .8rem;
  margin-top: 2rem;
}


/* ====================================================================================================== */
/*-- mission --*/
.heading-underline {
  width: 3rem;
  margin: 2rem auto;
  border-bottom: 3px solid #6e4242;
}

.heading-title {
  font-weight: 700;
  font-size: 1.3rem;
  padding-top: 3rem;
}
.heading{
  font-size:.9rem;
}
.contents {
  padding:0  2rem;
}
.content-title {
  background-color: #6e4242;
  padding-top: 0.6rem;
  width: 100%;
  margin: 0  auto;
}

.content-title h2 {
  font-size: 1.3rem;
  color: white;
}
.content-title p {
  font-size: .9rem;
  color: white;
  padding-bottom: 0.4rem;
}
.content p {
  font-size: .8rem;
  width: 90%;
  margin: 1rem auto;
}
.content-icon {
  color: #6e4242;
}

/* ====================================================================================================== */
/*-- object-class --*/
.o-fixed-background {
  background-image: url('img/bg-3.jpg');
  background-size: cover;
  width: 100%;
}

.o-heading-underline {
  width: 3rem;
  margin: 2rem auto;
  border-bottom: 3px solid white;
}

.o-heading-title {
  font-weight: 700;
  font-size: 1.3rem;
  color: white;
  padding-top: 8rem;
}
.o-heading{
  font-size:.8rem;
  color: white;
  width: 85%;
  margin: 0 auto;
  padding-bottom: 2rem;
}
.o-contents {
  padding:0  2rem;
}
.o-content h3 {
  color: white;
}
.o-content p {
  font-size: .8rem;
  color:white;
}
.btn-dark {
  font-size: .5rem;
}
.btn-outline-primary, .btn-outline-secondary, .btn-outline-warning, .btn-outline-danger, .btn-outline-success{
  width: 100%!important;
  opacity: 0.8;
  border-radius: 0;
  border-width: medium;
}
.lead {
  padding-top: 2rem;
}
.o-contents {
  padding-bottom: 3rem;
}

/* ====================================================================================================== */
/*-- security-class --*/
.s-fixed-background {
  background-image: url('img/bg-4.jpg');
  background-size: cover;
  width: 100%;
}

.tab-content {
  margin-top: 2rem;
}
.table-description {
  width: 80%;
  margin: 0 auto;
  font-size: .9rem;
}

 .table-body, .table-label {
  font-size: .9rem;
} 

.btn-secondary {
  width: 100%;
}

.table-label {
  border-top:  3px solid white;
  border-bottom:  3px solid white;
}

.table-body {
  border-bottom:  1px solid white;
}

.table {
  margin: 0 auto;
}

/* ====================================================================================================== */
/*-- footer --*/
.fa-twitter {
  color: #00aced;
}

.fa-discord {
  color: #7289da;
}

.fa-twitter:hover,
.fa-discord:hover {
  color: #d5d5d5;
}

footer {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  background: rgba(0,0,0,1)!important;
}

footer li{
  list-style: none;
  color: white;
  padding-bottom: .5rem;
}
footer ul{
  padding-inline-start: 0px!important;
}
hr.light {
  border-top:1px solid #d5d5d5;
  width: 75%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
hr.light-100 {
  border-top:1px solid #d5d5d5;
  width: 100%;
  margin-top: .8rem;
  margin-bottom: 1rem;
}
.social a {
  font-size: 2rem;
  padding: 3rem;
}



/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/

